mods/*
*.jar

# Client
defaultconfigs
logs
resourcepacks
saves
screenshots
shaderpacks
options.txt
lastlogin
launcher_log.txt
launcher_profiles.json
launcher_accounts.json
minecraftinstance.json
servers.dat*
.curseclient
config/xaeropatreon.txt
config/xaerominimap_entities.json 
xaero
XaeroWaypoints*
optionsshaders.txt
optionsof.txt

# Server
eula.txt
libraries
logs
world*
plugins/bstats
plugins/PluginMetrics
help.yml
ops.json
server.properties
usercache.json
whitelist.json
usernamecache.json
banned-ips.json
banned-players.json

# Python
*.pyc
venv
__pycache__
