mods/*
*.jar
venv
key

# Client
plugins/bstats
plugins/PluginMetrics
config/*
!config/biomesoplenty/
!config/terrablender.toml
!config/xaerominimap-common.txt
!config/xaerominimap.txt
!config/xaeroworldmap-common.txt
!config/xaeroworldmap.txt
!config/skinlayers.json
!config/lootr-common.toml
!config/entityculling.json
!config/ae2/
!config/alexscaves_biome_generation/
!config/emi.css
emi.json
servers.dat*
XaeroWaypoints*
defaultconfigs
logs
resourcepacks
saves
screenshots
shaderpacks
lastlogin
launcher_log.txt
launcher_profiles.json
launcher_accounts.json
minecraftinstance.json
.curseclient
crash-reports
xaero
optionsshaders.txt
optionsof.txt
patchouli_data.json
options.txt
*.db
world*
.mixin.out
eula.txt
.license
libraries
logs
help.yml
ops.json
server.properties
usercache.json
whitelist.json
usernamecache.json
banned-ips.json
banned-players.json
*.zip
patchouli_books
local

# Python
*.pyc
venv
__pycache__
