mods/*
*.jar
venv
key

# Client
config/xaeropatreon.txt
config/xaerominimap_entities.json 
config/NoChatReports
config/durabilitytooltip*
config/emi*
config/tectonic*
emi.json
servers.dat*
XaeroWaypoints*
defaultconfigs
logs
resourcepacks
saves
screenshots
shaderpacks
options.txt
lastlogin
launcher_log.txt
launcher_profiles.json
launcher_accounts.json
minecraftinstance.json
.curseclient
crash-reports
xaero
optionsshaders.txt
optionsof.txt

# Server
plugins/bstats
plugins/PluginMetrics
config/*
!config/biomesoplenty/
!config/terrablender.toml
!config/xaerominimap-common.txt
!config/xaerominimap.txt
!config/xaeroworldmap-common.txt
!config/xaeroworldmap.txt
!config/skinlayers.json
!config/lootr-common.toml
!config/entityculling.json
!config/ae2/
!config/alexscaves_biome_generation/
*.db
world*
.mixin.out
eula.txt
.license
libraries
logs
help.yml
ops.json
server.properties
usercache.json
whitelist.json
usernamecache.json
banned-ips.json
banned-players.json
*.zip

# Python
*.pyc
venv
__pycache__
